{{ $title := print .Title " | " .Site.Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<!doctype html>
<html class="black-theme" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/static/favicon.ico">

		{{ template "_internal/opengraph.html" . }}

		{{ $base := resources.Get "base.css" -}}
		{{- $code := resources.Get "code.css" -}}
		{{- $footer := resources.Get "footer.css" -}}
		{{- $header := resources.Get "header.css" -}}
		{{- $home := resources.Get "home.css" -}}
		{{- $pagination := resources.Get "pagination.css" -}}
		{{- $allCss := slice $base $code $footer $header $home $pagination | resources.Concat "static/all.css" | fingerprint | minify -}}
		<link rel="stylesheet" href="{{ $allCss.Permalink }}">

		{{ range .AlternativeOutputFormats -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
		{{ end -}}

		<title>{{ $title }}</title>
		<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
	</head>
	<body>
		{{- partial "nav.html" . -}}
		<main>
			{{- block "main" . }}{{ end -}}
		</main>
		{{- partial "footer.html" . -}}
		{{- partial "themeSwitcher.html" . -}}
	</body>
</html>
