* {
	box-sizing: border-box;
	scrollbar-gutter: stable both-edges;
}
body {
	display: grid;
	grid-template-rows: auto 1fr auto;

	font-family: -apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
	"Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;

	font-feature-settings: "kern" 1;
	font-kerning: normal;
}
#main {
	padding-left:1em;
	padding-right:1em;
}
p {
	text-align: justify;
	hyphens: auto;
	text-justify: inter-character;
	overflow-wrap: anywhere;
}
pre,code {
	white-space: pre-wrap;
}
nav#TableOfContents ul {
	padding: 0;
	list-style-type: none;
}
nav#TableOfContents ul li ul {
	padding-left:1em;
}
nav#TableOfContents ul li ul li ul {
	padding-left:2em;
}
nav#TableOfContents ul li ul li ul li ul {
	padding-left:3em;
}
h1, h2, h3, h4, h5 {
	font-family: open, serif;
}
@media only screen and (min-width: 60rem) {
	body {
		max-width:60rem;
		margin-left: auto;
		margin-right: auto;
	}
}
.fullwidth {
	width: 100%;
}
