header {
	background-color: var(--bg-0);
}
header nav {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
header nav ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header nav ol li a {
	display: block;
	font-size: 1.25rem;
	padding: 4px 16px 14px 16px;
	text-align: center;
	text-decoration: none;
}
header nav ol li a:hover {
	background-color: var(--bg-1);
}
#nav-menu {
	align-items: baseline;
	display: flex;
	flex-wrap: nowrap;
}
#nav-menu li {
	flex-direction: column;
}
.nav-menu-active {
	background-color: var(--bg-1);
}
#title {
	font-weight: 700;
	text-transform: uppercase;
}
#themes {
	background-color: var(--bg-0);
	border: none;
	color: var(--fg-1);
	font-size: 1.25rem;
	margin: 0;
	padding: 0;
}
