header {
	background-color: #181818;
}
header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 1.25rem;
}
header nav ul li {
	display: inline;
	float: right;
}
header nav ul li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
header nav ul li a:hover {
	background-color: #252525;
}
.nav-menu-active {
	background-color: #252525;
}
.nav-menu-title {
	float: left;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 4px;
}
.nav-menu-margin-left {
	margin-left: 4px;
}
.nav-menu-margins-left-and-right {
	margin-left: 4px;
	margin-right: 4px;
}
