header {
	background-color: #002b36;
}
header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 1.25rem;
}
header nav ul li {
	display: inline;
	float: right;
}
header nav ul li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
header nav ul li a:hover {
	background-color: #073642;
}
.nav-menu-active {
	background-color: #073642;
}
.nav-menu-title {
	float: left;
	text-transform: uppercase;
	font-weight: 700;
}
