.pagination {
	display:flex;
	list-style:none;
	border-radius:.25rem;
}
.pagination li {
	background-color: #181818;
}
.pagination li a {
	border:1px solid rgba(0,0,0,.1);
	position:relative;
	display:block;
	padding:.5rem .75rem;
	line-height:1.25;
	text-decoration: none;
}
.pagination .pagination-enabled:first-child a {
	border-top-left-radius:.25rem;
	border-bottom-left-radius:.25rem
}
.pagination .pagination-enabled:last-child a {
	border-top-right-radius:.25rem;
	border-bottom-right-radius:.25rem
}
.pagination .pagination-enabled a:hover {
	background-color: #252525;
	z-index: 999;
}
.pagination-disabled a {
	color: #dedede;
}
.pagination-disabled a:hover {
	color: #dedede;
}
.pagination-active a {
	color: b9b9b9;
	background-color: #252525;
}
