html {
	background-color: #002b36;
	color: #839496;
}
body, main {
	background-color: #073642;
}
code {
	background-color: #073642;
}
a {
	color: #b58900;
}
a:visited {
	color: #cb4b16;
}
a:hover {
	color: #cb4b16;
}
h1 {
	color: #dc322f;
}
h2,
h3,
h4,
h5,
h6 {
	color: #859900;
}
pre {
	background-color: #002b36;
	color: #839496;
}
pre, code {
	background-color: #002b36;
}
