<p>
{{ if ne .Parent nil }}
{{ if ne .Parent.Parent nil }}
{{ if ne .Parent.Parent.Parent nil }}
{{ if ne .Parent.Parent.Parent.Parent nil }}
{{ if ne .Parent.Parent.Parent.Parent.Parent nil }}
<a href="{{ .Parent.Parent.Parent.Parent.Parent.Permalink }}">{{ .Parent.Parent.Parent.Parent.Parent.Title }}</a> &gt;
{{ end }}
<a href="{{ .Parent.Parent.Parent.Parent.Permalink }}">{{ .Parent.Parent.Parent.Parent.Title }}</a> &gt;
{{ end }}
<a href="{{ .Parent.Parent.Parent.Permalink }}">{{ .Parent.Parent.Parent.Title }}</a> &gt;
{{ end }}
<a href="{{ .Parent.Parent.Permalink }}">{{ .Parent.Parent.Title }}</a> &gt;
{{ end }}
<a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a> &gt;
{{ end }}
<strong>{{ .Title }}</strong><br/>
{{ .Description }}
{{ if (isset .Params "tags") }}{{ if ge (len .Params.tags) 1 }}<br/>Tag{{ if ge (len .Params.tags) 2 }}s{{ end }}: {{ range .Params.tags }}<a href="/tags/{{ . }}">{{ . }}</a> {{ end }}{{ end }}{{ end }}
</p>
