<header>
	<nav>
		<ol>
			<li id="title"{{if .IsHome}} class="nav-menu-active"{{end}}>
				<a href="/">{{ .Site.Title }}</a>
			</li>
		</ol>
		<ol id="nav-menu">
			{{- $p := . -}}
			{{- range .Site.Menus.main.ByWeight -}}
			{{- $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) -}}
			{{- with .Page -}}
			{{- $active = or $active ( $.IsDescendant .)  -}}
			{{- end -}}
			{{- $url := urls.Parse .URL -}}
			{{- $baseurl := urls.Parse $.Site.Params.Baseurl -}}
			<li class="nav-menu-margins-left-and-right{{if $active }} nav-menu-active{{end}}">
				<a href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}"{{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}>{{ .Name }}</a>
			</li>
			{{ end }}
			<li>
				<select id="themes" class="nav-menu-magin-left" onchange="setTheme()">
					<option value="black-theme">Black</option>
					<option value="dark-theme">Dark</option>
					<option value="light-theme">Light</option>
				</select>
			</li>
		</ol>
	</nav>
</header>
